/* IOS specific */
.app-shell {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-shell-header {
  height: 52px;
  display: flex;
  align-items: center;
  padding: 0 16px;
  font-weight: 600;
  font-size: 18px;
  border-bottom: 1px solid #eee;
}

.app-shell-content {
  flex: 1;
  overflow: auto;
}
